<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>WTF</title>
	<link rel="stylesheet" type="text/css" href="/reset-fonts-grids.css">
  <style>
    #doc3 {
      margin: auto;
    }
    #hd {
      text-align: center;
      font-size: 317%;
      color: green;
    }
    #bd {
      margin-top: 0.3847em;
      margin-bottom: 0.3847em;
      text-align: center;
    }
    #bd p {
      margin-top: 0.7962em;
      margin-bottom: 0.7962em;
    }
    #ft {
      text-align: center;
    }
  </style>
</head>
<body>
<div id="doc3">
  <div id="hd">WTF</div> 
  <div id="bd">
    <%= yield %>
  </div> 
  <div id="ft"><a href="http://github.com/scudco/wtf">See the source on Github</a></div> 
</div>
</body>
</html>

