<form method="POST" action="/wtf/new">
  <p><label for="acronym">Acronym: </label><input type="text" id="acronym" name="acronym"></p>
  <p><label for="definition">Definition: </label><input type="text" id="definition" name="definition"></p>
  <p><input type="submit" value="submit"></p>
</form>
